* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bg.png);

  background-color: #0d0d0d;
  font-family: sans-serif;
}


.avatar {
  border-radius: 50%;
  width: 320px;
  height: 320px;

  border: 5px double #ff5400 ;

  transition: transform 0.3s;
}

h1 {
  color: white;
  margin-top: 31px;
  margin-bottom: 8px;
}

p {
  color: white;
}

.links {
  margin-top: 35px;
}

.links li {
  margin-bottom: 18px;
  list-style: none;
}

.links li a {
  background: url(./images/button.jpg);
  color: white;
  padding: 15px;
  text-decoration: none;
  display: block;

  width: 320px;
  border-radius: 30px;

  transition: transform 0.3s;
}

footer {
  color: white;
  text-align: center;
}

.container {
  width: 320px;
  text-align: center;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
}

/* animation */
a:hover {
  transform: scale(1.1);
}

img:hover {
  transform: scale(1.1);
}